{% extends 'base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}
    <h1>Create new Pays</h1>

    {{ include('admin_pays/_form.html.twig') }}

    <a href="{{ path('app_admin_pays_index') }}">back to list</a>
{% endblock %}
