{% extends 'base.html.twig' %}

{% block title %}Edit Casting{% endblock %}

{% block body %}
    <h1>Edit Casting</h1>

    {{ include('admin_casting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_casting_index') }}">back to list</a>

    {{ include('admin_casting/_delete_form.html.twig') }}
{% endblock %}
