{% extends 'base.html.twig' %}

{% block title %}New Casting{% endblock %}

{% block body %}
    <h1>Create new Casting</h1>

    {{ include('admin_casting/_form.html.twig') }}

    <a href="{{ path('app_admin_casting_index') }}">back to list</a>
{% endblock %}
